*.o
*.ko
*.out

Makefile
Makefile.in

/aclocal.m4
/autom4te.cache/
/config.*
/configure
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
libtool.m4
missing

*~

Module.symvers
modules.order
*.o.cmd
*.ko.cmd
*.mod.c
.tmp_versions
